@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<h1>Hello World! from View</h1>
		<h2>@ViewBag.HelloWorld</h2>
		<h2>@ViewData["HelloWorld2"]</h2>
		
		<h3>@Model.HelloWorld</h3>
	</div>
</body>
</html>
